<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<string>The people who live in a golden age usually go around complaining how yellow everything looks. ~ Randall Jarrell</string>
		<string>If I&apos;m not complaining, I&apos;m not having a good time, hah hah! ~ Martin Scorsese</string>
		<string>I think &apos;Dilbert&apos; will remain popular as long as employees are frustrated and they fear the consequences of complaining too loudly. &apos;Dilbert&apos; is the designated voice of discontent for the workplace. I never planned it that way. It just happened. ~ Scott Adams</string>
		<string>Complaining is good for you as long as you&apos;re not complaining to the person you&apos;re complaining about. ~ Lynn Johnston</string>
		<string>There are days that I wake up and I complain, and when I complain I pinch myself and say, &apos;that&apos;s for complaining.&apos; Not many people can do what they really like in life. ~ Enrique Iglesias</string>
		<string>I won&apos;t complain about touring, because I really do believe that a public-figure musician complaining about being a public-figure musician is just absurd. Like, &apos;Boo hoo hoo! I have to stand on stage and people pay attention to me!&apos; ~ Moby</string>
		<string>The enemy fought with savage fury, and met death with all its horrors, without shrinking or complaining: not one asked to be spared, but fought as long as they could stand or sit. ~ Davy Crockett</string>
		<string>To this day, I don&apos;t love my arms. People want more fit arms, but my arms are too fit. But I&apos;m not complaining. They pay my bills. ~ Serena Williams</string>
		<string>Why does the Air Force need expensive new bombers? Have the people we&apos;ve been bombing over the years been complaining? ~ George C. Wallace</string>
		<string>I&apos;m not comically oriented. I get angry and I start complaining and then people start laughing. I don&apos;t even want them to laugh half the time. ~ Adam Carolla</string>
		<string>I have gotten some of the most beautiful experiences that a person can possibly ask for so I&apos;m not at all complaining. ~ Gina Carano</string>
		<string>When you see somebody who&apos;s got a complaining personality, it usually means that they had some vision of what things could be, and they&apos;re constantly disappointed by that. I think that would be the camp that I would fall into - constantly horrified by the things people do. ~ Daniel Clowes</string>
		<string>Any fool can criticize, condemn and complain - and most fools do. ~ Benjamin Franklin</string>
		<string>Maturity is the ability to reap without apology and not complain when things don&apos;t go well. ~ Jim Rohn</string>
		<string>Determine never to be idle. No person will have occasion to complain of the want of time who never loses any. It is wonderful how much may be done if we are always doing. ~ Thomas Jefferson</string>
		<string>Never complain and never explain. ~ Benjamin Disraeli</string>
		<string>If you have time to whine and complain about something then you have the time to do something about it. ~ Anthony J. D&apos;Angelo</string>
		<string>Complaining not only ruins everybody else&apos;s day, it ruins the complainer&apos;s day, too. The more we complain, the more unhappy we get. ~ Dennis Prager</string>
		<string>The future rewards those who press on. I don&apos;t have time to feel sorry for myself. I don&apos;t have time to complain. I&apos;m going to press on. ~ Barack Obama</string>
		<string>Read the Bible. Work hard and honestly. And don&apos;t complain. ~ Billy Graham</string>
		<string>Women cannot complain about men anymore until they start getting better taste in them. ~ Bill Maher</string>
		<string>The French complain of everything, and always. ~ Napoleon Bonaparte</string>
		<string>I have so much chaos in my life, it&apos;s become normal. You become used to it. You have to just relax, calm down, take a deep breath and try to see how you can make things work rather than complain about how they&apos;re wrong. ~ Tom Welling</string>
		<string>To make democracy work, we must be a notion of participants, not simply observers. One who does not vote has no right to complain. ~ Louis L&apos;Amour </string>
		<string>If man makes himself a worm he must not complain when he is trodden on. ~ Immanuel Kant</string>
		<string>Neurotics complain of their illness, but they make the most of it, and when it comes to talking it away from them they will defend it like a lioness her young. ~ 
Sigmund Freud</string>
		<string>Man invented language to satisfy his deep need to complain. ~ Lily Tomlin</string>
		<string>People always complain about their memories, never about their minds. ~ Francois de La Rochefoucauld</string>
		<string>Say and do something positive that will help the situation; it doesn&apos;t take any brains to complain. ~ Robert A. Cook</string>
		<string>Modern education has devoted itself to the teaching of impudence, and then we complain that we can no longer control our mobs. ~ John Ruskin</string>
		<string>Those who do not complain are never pitied. ~ Jane Austen </string>
		<string>No woman can be completely happy at any one moment in time. They&apos;re always anticipating the next thing to argue or complain about. ~ Denis Leary</string>
		<string>If ordinary people complain that I speak too much of myself, I complain that they do not even think of themselves. ~ Michel de Montaigne</string>
		<string>No woman can be completely happy at any one moment in time. They&apos;re always anticipating the next thing to argue or complain about. ~ Denis Leary</string>
		<string>When you&apos;re in a situation, you can complain about it, you can feel sorry for yourself, you can do a lot of things. But how are you gonna make the situation better? ~ Tony Dungy</string>
		<string>It is no use to grumble and complain; It&apos;s just as cheap and easy to rejoice; When God sorts out the weather and sends rain - Why, rain&apos;s my choice. ~ 
James Whitcomb Riley</string>
		<string>Those who make the worst use of their time are the first to complain of its shortness. ~ Jean de la Bruyere</string>
		<string>I don&apos;t think I&apos;m really in a situation to complain, because I consider myself to be privileged to be doing what I do. ~ David Beckham</string>
		<string>Haven&apos;t you learned anything, not even with the approach of death? Stop thinking all the time that you&apos;re in the way, that you&apos;re bothering the person next to you. If people don&apos;t like it, they can complain. And if they don&apos;t have the courage to complain, that&apos;s their problem. ~ Paulo Coelho</string>
		<string>Complaining does not work as a strategy. We all have finite time and energy. Any time we spend whining is unlikely to help us achieve our goals. And it won&apos;t make us happier. ~ Randy Pausch</string>
		<string>Never tell your problems to anyone...20% don&apos;t care and the other 80% are glad you have them. ~ Lou Holtz</string>
		<string>Don’t complain; just work harder. ~ Randy Pausch</string>
		<string>Like crying wolf, if you keep looking for sympathy as a justification for your actions, you will someday be left standing alone when you really need help. ~ Criss Jami</string>
		<string>If you can quit, quit. If you can&apos;t quit, stop complaining - this is what you chose. ~ J.A. Konrath</string>
		<string>I know it&apos;s important to do more than just complain when there&apos;s something you don&apos;t like. You need to try to do something about it, or you&apos;re nothing but a whiner. ~ Jean Ferris</string>
		<string>Memory depends very much on the perspicuity, regularity, and order of our thoughts. Many complain of the want of memory, when the defect is in the judgment; and others, by grasping at all, retain nothing. ~ Thomas Fuller</string>
		<string>I look upon life as a gift from God. I did nothing to earn it. Now that the time is coming to give it back, I have no right to complain. ~ Joyce Cary</string>
		<string>Our generation has an incredible amount of realism, yet at the same time it loves to complain and not really change. Because, if it does change, then it won&apos;t have anything to complain about. ~ Tori Amos</string>
		<string>God made a very obvious choice when he made me voluptuous; why would I go against what he decided for me? My limbs work, so I&apos;m not going to complain about the way my body is shaped. ~ Drew Barrymore</string>
		<string>You can&apos;t complain about your dressing room or you&apos;ll look like Celine Dion. ~ Adele</string>
		<string>As kids we didn&apos;t complain about being poor; we talked about how rich we were going to be and made moves to get the lifestyle we aspired to by any means we could. And as soon as we had a little money, we were eager to show it. ~ Jay-Z</string>
		<string>I would never complain about my life, even though I really would like to have a mate. ~ Jack Nicholson</string>
		<string>Before people complain of the obscurity of modern poetry, they should first examine their consciences and ask themselves with how many people and on how many occasions they have genuinely and profoundly shared some experience with another. ~ W. H. Auden</string>
		<string>I have a very good life, so I have nothing to complain about. Sometimes, I just have existential angst. ~ Meg Ryan</string>
		<string>I&apos;m fearless, I don&apos;t complain. Even when horrible things happen to me, I go on. ~ Sofia Vergara</string>
		<string>You can&apos;t complain about the pressures, the paparazzi, the madness. Because that is the job. I&apos;ve always understood that&apos;s the deal. ~ Avril Lavigne</string>
		<string>When people complain of life, it is almost always because they have asked impossible things of it. ~ Ernest Renan</string>
		<string>One of the things that people complain about is loneliness, disconnectedness. If you live in a society where your life is rarely threatened and most of your relationships are more on an economic exchange basis, then this could leave people feeling less connected. ~ Steven Pinker</string>
		<string>I&apos;ve eaten things that didn&apos;t complain this much. ~ Denis Leary</string>
		<string>I can&apos;t complain about my career, that&apos;s for sure. ~ Ray Romano</string>
		<string>&apos;Tis the voice of the sluggard; I heard him complain, you have waked me too soon, I must slumber again. ~ Isaac Watts</string>
		<string>I know I&apos;m not a coal miner, but I do long hours and I never complain, and there is nowhere else I&apos;d rather be. So, yeah, that&apos;s how I&apos;d define myself. I want to do it right, and prove people wrong once and for all about the myth of child stars. ~ Daniel Radcliffe</string>
		<string>Why do people talk of the horrors of old age? It&apos;s great. I feel like a fine old car with the parts gradually wearing out, but I&apos;m not complaining,... Those who find growing old terrible are people who haven&apos;t done what they wanted with their lives. ~ Martha Gellhorn</string>
		<string>There are times in life when, instead of complaining, you do something about your complaints. ~ Rita Dove</string>
		<string>The tendency to whining and complaining may be taken as the surest sign symptom of little souls and inferior intellects. ~ Lord Jeffrey</string>
		<string>Man alone is born crying, lives complaining, and dies disappointed. ~ Samuel Johnson</string>
		<string>Had we not faults of our own, we should take less pleasure in complaining of others. ~ Francois Fenelon</string>
		<string>Remember, if you are criticising, you are not being grateful. If you are blaming, you are not being grateful. If you are complaining, you are not being grateful. ~ Rhonda Byrne</string>
		<string>You don&apos;t make progress by standing on the sidelines, whimpering and complaining. You make progress by implementing ideas. ~ Shirley Chisholm</string>
		<string>Everyone has to make their own decisions. I still believe in that. You just have to be able to accept the consequences without complaining. ~ Grace Jones</string>
		<string>Complainers change their complaints, but they never reduce the amount of time spent in complaining. ~ Mason Cooley</string>
		<string>Statistics suggest that when customers complain, business owners and managers ought to get excited about it. The complaining customer represents a huge opportunity for more business. ~ Zig Ziglar</string>
		<string>I really haven&apos;t had that exciting of a life. There are a lot of things I wish I would have done, instead of just sitting around and complaining about having a boring life. So I pretty much like to make it up. I&apos;d rather tell a story about somebody else. ~ Kurt Cobain</string>
		<string>Man spends his life in reasoning on the past, in complaining of the present, in fearing future. ~ Antoine Rivarol</string>
		<string>You could write a song about some kind of emotional problem you are having, but it would not be a good song, in my eyes, until it went through a period of sensitivity to a moment of clarity. Without that moment of clarity to contribute to the song, it&apos;s just complaining. ~ Joni Mitchell</string>
		<string>People won&apos;t have time for you if you are always angry or complaining. ~ Stephen Hawking</string>
		<string>Complaining not only ruins everybody else&apos;s day, it ruins the complainer&apos;s day, too. The more we complain, the more unhappy we get. ~ Dennis Prager</string>
	</array>
</dict>
</plist>
